<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="financials.css">
        
        <title>C&C Finances | Financials</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">C&C Finances</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/financials">Financials <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/newStudents">New Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addPartners">Add Partners</a>
                    </li>
<!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Colleges
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/publicColleges">Public Colleges</a>
                            <a class="dropdown-item" href="/privateColleges">Private Colleges</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Universities
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/publicUniversities">Public Universities</a>
                            <a class="dropdown-item" href="/privateUniversities">Private Universities</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/thirdParties">Third Parties</a>
                    </li>
-->
                </ul>
            </div>
        </nav>
        
<!--
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Toronto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">GTA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Montreal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Vancouver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Other Cities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Other Countries</a>
            </li>    
        </ul>
-->
        
<!--
        <form method="post" action="/newStudentForm">
            <div class="form-group">
                <input type="text" class="form-control" id="studentName" name="studentName" placeholder="Student Name">
                <small class="form-text text-muted">Student name has to be unique!</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="ccPayment" name="ccPayment" placeholder="Payment paid to C&C">
            </div>
            <div class="form-group">
                <select class="form-control" id="school" name="school">
                    <option hidden>Select School</option>
                    {{#each schools}}
                        <option>{{partnerName}}</option>
                    {{else}}
                        <option>There are no schools to select.</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="schoolPayment" name="schoolPayment" placeholder="Amount paid to school">
            </div>
            <div class="form-group">
                <select class="form-control" id="thirdParty" name="thirdParty">
                    <option hidden>Select Third Party</option>
                    {{#each thirdParties}}
                        <option>{{partnerName}}</option>
                    {{else}}
                        <option>There are no third parties to select.</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="thirdPartyPayment" name="thirdPartyPayment" placeholder="Amount paid to the third party">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="details" name="details" placeholder="Details"></textarea>
                <small class="form-text text-muted">Any other details you would like to share?</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
-->
        
        <div class="container">
<!--
            <div id="myStudents">
                <h3 class="text-center">My Students</h3>
                <p><button id="btn-export" class="btn">Export</button></p>
                <table class="table table-hover text-center by_date" id="example" class="display">
                    <thead>
                        <tr>
                            <th scope="col">Student Name</th>
                            <th scope="col">Payment to C&C</th>
                            <th scope="col">School Name</th>
                            <th scope="col">Payment to the school</th>
                            <th scope="col">Third Party Name</th>
                            <th scope="col">Payment to the third party</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each students}}
                            <tr>
                                <th scope="row" id="myStudentName" data-toggle="modal" data-target="#myModal" data-studentname="{{studentName}}" data-ccpayment="{{ccPayment}}" data-school="{{school}}" data-schoolpayment="{{schoolPayment}}" data-thirdparty="{{thirdParty}}" data-thirdpaymentpayment="{{thirdPartyPayment}}" data-details="{{details}}">{{studentName}}</th>
                                <td>{{ccPayment}}</td>
                                <td>{{school}}</td>
                                <td>{{schoolPayment}}</td>
                                <td>{{thirdParty}}</td>
                                <td>{{thirdPartyPayment}}</td>
                                <td>{{details}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
-->
        </div>
        <!-- Modal -->
<!--
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Edit/Delete Student</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="modal-studentname"></p>
                        <form method="post" action="/editStudentForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="editStudentName" name="editStudentName">
                            <small class="form-text text-muted">New student name has to be unique!</small>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="type" name="type">
                                <option>Select Type
                                <option>Institution</option>
                                <option>Third Party</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="commissionRate" name="commissionRate" placeholder="Commission Rate (%)">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="commissionStructure" name="commissionStructure" placeholder="Commission Structure"></textarea>
                            <small class="form-text text-muted">When do they give out the commission/s?</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="/deleteStudentForm">
                            <span class="hidden" id="modal-myvalue" name="studentToDelete"></span>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </form>    
                    </div>
                </div>
            </div>
        </div>
-->
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script src="../tableJs/jquery.table2excel.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="financials.js" type="text/javascript"></script>
        <script src="../tableJs/tablejs.js" type="text/javascript"></script>
    </body>
</html>